doctype html
html
    head
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
        link(rel='stylesheet',href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
        link(rel='stylesheet',href='/stylesheets/index.css')
        link(rel='stylesheet',href='/stylesheets/dashboard.css')
        link(rel='stylesheet',href='/stylesheets/modal.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
                title Hackerhire
        script(src='/scripts/dashboard_main.js')
        link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js')

    
    body
        div.navbar-fixed
            nav(role='banner').light-blue.accent-4.white-text
                a#logo(style='display:block').brand-logo
                    span HackerHire
                    sup ß
                ul.right.hide-on-med-and-down
                    li
                        a(href='/logout') signout 
                    li
                        a(href='#') #{user.username}

        div.valign-wrapper#start-container.center-align
            div.valign.center-align 
                a#start-interview-button.waves-effect.green.lighten-1.btn-large.modal-trigger(href='#modal1')
                    span Start an Interview
                    i.material-icons.right cloud

        div.container#past-interviews
            h5.blue-text PREVIOUS INTERVIEWS
            table.striped
                thead
                    tr
                        th S.NO
                        th Interviewee
                        th Profile
                        th Date

                - for( var i = 0, len = interview.length; i < len; i++ ) {
                      tr
                        td= i+1
                        td= interview[i].interviewee
                        td= interview[i].profile
                        td= interview[i].datetime
                - }

        div#modal1.modal
            div.modal-content
                h5.blue-text Create HackerHire Room
                p Enter Candidate information 
                div.row
                    form.col.s12
                        .row
                            .input-field.col.s6
                                input#first_name.validate(placeholder='Name ', type='text')
                                label(for='first_name') CANDIDATE NAME
                            .input-field.col.s6
                                input#email.validate(placeholder='Email', type='email')
                                label(for='email') CANDIDATE EMAIL
                        .row
                            .input-field.col.s12
                                input#profile.validate(placeholder='Profile', type='text')
                                label(for='profile') JOB PROFILE



            div.modal-footer
                a.modal-action.modal-close.blue-text.btn-flat#createroom CREATE ROOM
                a.modal-action.modal-close.waves-effect.waves-green.btn-flat CANCEL


        //- ul
        //-     each val in interview
        //-         li= val.interviewee,val





